h1,
h2,
h3,
h4 {
	color: #069;
}
a {
	color: #069;
}
br {
    line-height: 1;
}
p.error {
	color: red;
}
header {
    border-top: 1px solid #ccc;
}
header .sub {
    display: inline-block;
    z-index: 9999;
}
header .sub1 {
    visibility: hidden;
    position: absolute;
    z-index: 9999;
}
header button:hover + .sub1 {
    visibility: visible;
}
header .sub1 a {
    display: block;
    text-transform: none;
    text-align: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: 9999;
}
header .sub1 a:last-child {
    border-bottom: 1px solid #ccc;
}
header .sub1 a:hover {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
header .sub1:hover {
    visibility: visible;
}
button[rel="addCustomer"] span {
	padding-left: 20px;
}
button.add,
button.add:hover,
button.add:focus {
	background-image: url("../images/add.png");
}
button.edit,
button.edit:hover,
button.edit:focus {
	background-image: url("../images/edit.png");
}
button.view,
button.view:hover,
button.view:focus {
	background-image: url("../images/view.png");
}
button.copy,
button.copy:hover,
button.copy:focus {
	background-image: url("../images/copy.png");
}
button.settings,
button.settings:hover,
button.settings:focus {
	background-image: url("../images/settings.png");
}
button.delete,
button.delete:hover,
button.delete:focus {
	background-image: url("../images/delete.png");
}
button.cancel,
button.cancel:hover,
button.cancel:focus {
	background-image: url("../images/cancel.png");
}
button.clear,
button.clear:hover,
button.clear:focus {
	background-image: url("../images/clear.png");
    min-height: 26px;
    vertical-align: middle;
}
button.reset,
button.reset:hover,
button.reset:focus {
	background-image: url("../images/reset.png");
}
button.apply,
button.apply:hover,
button.apply:focus {
	background-image: url("../images/apply.png");
}
button.save,
button.save:hover,
button.save:focus {
	background-image: url("../images/save.png");
}
button.email,
button.email:hover,
button.email:focus {
	background-image: url("../images/email.png");
}
button.close,
button.close:hover,
button.close:focus {
	background-image: url("../images/close.png");
}
button.details,
button.details:hover,
button.details:focus {
	background-image: url("../images/details.png");
}
button.positions,
button.positions:hover,
button.positions:focus {
	background-image: url("../images/positions.png");
}
button.back,
button.back:hover,
button.back:focus {
	background-image: url("../images/back.png");
}
button.pdf,
button.pdf:hover,
button.pdf:focus {
	background-image: url("../images/pdf.png");
}
button.get,
button.get:hover,
button.get:focus {
	background-image: url("../images/get.png");
}
button.daterange,
button.daterange:hover,
button.daterange:focus {
	background-image: url("../images/daterange.png");
}
button.select,
button.select:hover,
button.select:focus {
	background-image: url("../images/select.png");
}
button.up,
button.up:hover,
button.up:focus {
	background-image: url("../images/up.png");
}
button.down,
button.down:hover,
button.down:focus {
	background-image: url("../images/down.png");
}
button.filter,
button.filter:hover,
button.filter:focus {
	background-image: url("../images/filter.png");
}
button.nolabel[type="button"],
button.nolabel[type="button"]:hover,
button.nolabel[type="button"]:focus {
    font-size: 0.8rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    padding: 8px 2px 15px 25px;
	border: solid 1px #bcbcbc;
    margin: 0 3px;
}
form button.tox-tbtn[type="button"],
form button.tox-tbtn[type="button"]:hover,
form button.tox-tbtn[type="button"]:focus {
    padding: 0;
    margin: 2px 1px 3px 1px;
}
.toolbar button, .buttons button, button#select,
.toolbar button:hover, .buttons button:hover, button#select:hover,
.toolbar button:focus, .buttons button:focus, button#select:focus {
    font-size: 0.8rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    padding: 3px 3px 3px 25px;
	border: solid 1px #bcbcbc;
    margin: 0 3px;
}
.toolbar button#keyword {
    max-width: 45%;
}
@media screen and (max-width: 767px) {
    .toolbar button,
    .toolbar button:hover,

    .toolbar button:focus {
        margin: 0;
    }
}
/*td#buttons {
	text-align:center;
}
td button, dd button, form button {
	margin: 1px 0;
	padding: 0;
	border: none;
	background-color:transparent;
	cursor: pointer;
}
td button {
	padding-left: 18px;
}*/
#breadcrumbs {
	font-size: 0.8rem;
    background-color: #efefef;
    padding: 2px 10px;
	border-bottom: solid 1px #ddd;
}
input.error, textarea.error {
	border-color:red!important;
	background-color:#ffe4e4!important;
}
textarea {
	width:95%;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #888888;
}
#content {
	padding: 15px 0;
}
#footer {
    padding: 15px;
    text-align: center;
    background-color: #efefef;
    margin-top: 15px;
    font-size: 0.8rem;
}
#categories {
	min-width: 200px;
    margin-left: 3px;
}
#actions {
	min-width: 200px;
	padding: 45px 10px 0 10px;
}
@media screen and (max-width: 1279px) {
    #actions {
	    padding: 10px;
    }
}
#actions a {
    font-size: 0.9rem;
}
table,
table#data,
table#details,
table#positions,
table#positions table {
    max-height: none;
}
table#positions.noheader tbody {
	border-top: solid 1px #bcbcbc;
}
table td, table p, table span, table textarea,
table#data td, table#data p, table#data span, table#data textarea,
table#details td, table#details p, table#details span, table#details textarea,
table#positions td, table#positions p, table#positions span, table#positions textarea,
table#positions td table, table#positions p table, table#positions span table, table#positions textarea table {
	vertical-align: middle;
    font-size: 0.8rem;
    padding: 0.1rem;
}
table#data > thead > tr > th:first-child,
table#data > tbody > tr > td:first-child,
table#details > thead > tr > th:first-child,
table#details > tbody > tr > td:first-child,
table#positions > thead > tr > th:first-child,
table#positions > tbody > tr > td:first-child,
table#positions > thead > tr > th:nth-child(2),
table#positions > tbody > tr > td:nth-child(2) {
    padding: 0 6px;
	flex-grow: 0.2;
    min-width: 25px;
}
#tabHistory table#data > thead > tr > th:first-child,
#tabHistory table#data > tbody > tr > td:first-child {
    padding: 6px 0;
	flex-grow: 0.6;
    min-width: 50px;
    border-left: 5px solid transparent;
}
table#positions > thead > tr > th:nth-child(2),
table#positions > tbody > tr > td:nth-child(2),
table#positions > thead > tr > th:last-child,
table#positions > tbody > tr > td:last-child {
	flex-grow: 0.3;
    min-width: 40px;
}
table#data td.total,
table#details td.total,
table#positions td.total {
    text-align: center;
    padding-top: 7px;
    font-size: 0.9rem;
}
table#data th,
table#positions th {
    padding: 6px 0;
    font-size: 0.8rem;
}
table#data th.title,
table#data td.title {
	flex-grow: 2;
}
table#data th.state,
table#data td.state {
	flex-grow: 0.5;
}
table#data th.notes,
table#data td.notes {
	flex-grow: 2;
}
table#data th:last-child,
table#data td:last-child {
	flex-grow: 0.1;
    min-width: 30px;
}
.admin table#data th:last-child,
.admin table#data td:last-child {
	flex-grow: 0.5;
    min-width: 100px;
}
table#data tr.bottom td.toolbar {
	flex-grow: 3;
	text-align: left;
	margin: 0;
	padding: 5px;
}
table#data tr.bottom td.total {
	font-weight: bold;
}

table#data label, table#data input[type="text"], table#data textarea, table#data select, table#data option,
table#details label, table#details input[type="text"], table#details textarea, table#details select, table#details option,
table#positions label, table#positions input[type="text"], table#positions textarea, table#positions select, table#positions option {
	margin: 0;
	padding: 3px 5px;
    width: 100%;
	font-size: 0.9em;
}
table#data pre {
    font-size: 0.8rem;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
table#data > tbody > tr {
}
table#data > tbody > tr.alt {
	background-color: #f7f7f7;
}
table#data > tbody > tr.highlight, #data td.highlight, #data th.highlight {
	background: url('../images/dropline_bg.png') repeat;
}
table#data > tbody > tr.bottom {
	background: none;
}
table#data dt,
table#details dt,
table#positions dt {
	font-style: italic;
	margin:2px 0 0 0;
}
table#data dd,
table#details dd,
table#positions dd {
	margin:0 0 2px 0;
}
@media screen and (min-width: 768px) {
    table#data > tbody > tr > td:first-child {
	    border-left-color: transparent;
	    border-left-width: 5px;
        border-left-style: solid;
    }
    table#data > tbody > tr > td:last-child {
	    border-right-color: transparent;
	    border-right-width: 5px;
        border-right-style: solid;
    }
    table#data > tbody > tr.state101 > td:first-child {
	    border-left-color: LightGray;
    }
    table#data > tbody > tr.state101 > td:last-child {
	    border-right-color: LightGray;
    }
    table#data > tbody > tr.state102 > td:first-child {
	    border-left-color: Yellow;
    }
    table#data > tbody > tr.state102 > td:last-child {
	    border-right-color: Yellow;
    }
    table#data > tbody > tr.state103 > td:first-child {
	    border-left-color: OrangeRed;
    }
    table#data > tbody > tr.state103 > td:last-child {
	    border-right-color: OrangeRed;
    }
    table#data > tbody > tr.state104 > td:first-child {
	    border-left-color: LimeGreen;
    }
    table#data > tbody > tr.state104 > td:last-child {
	    border-right-color: LimeGreen;
    }
    table#data > tbody > tr.state101 > td {
	    background-color: rgb(211, 211, 211, .2);
    }
    table#data > tbody > tr.state102 > td {
	    background-color: rgb(255, 255, 0, .2);
    }
    table#data > tbody > tr.state103 > td {
	    background-color: rgb(255, 69, 0, .2);
    }
    table#data > tbody > tr.state104 > td {
	    background-color: rgb(50, 205, 50, .2);
    }
}
@media screen and (max-width: 767px) {
    table#data > tbody > tr.state101 {
	    background-color: LightGray;
    }
    table#data > tbody > tr.state102 {
	    background-color: Yellow;
    }
    table#data > tbody > tr.state103 {
	    background-color: OrangeRed;
    }
    table#data > tbody > tr.state104 {
	    background-color: LimeGreen;
    }
    table#data > tbody > tr > td:first-child,
    table#positions > tbody > tr > td:first-child {
	    display: none;
    }
}
#data hr {
	margin:0;
}
table#positions > th:first-child,
table#positions td.id {
	flex-grow: 0.2;
    min-width: 25px;
}
table#positions th.flex50,
table#positions td.flex50 {
    flex-basis: 50%;
}
table#positions tr.secondary td {
	padding-top: 0;
	border-top: none;
}
table#positions table,
table#positions table td {
	border: none;
	padding: 0;
}
table#positions table tbody {
	border: none;
}
table#positions table tr {
	margin: 0;
	padding: 0;
	border: none;
}
table#positions td td {
	vertical-align: bottom;
}
table#positions .position span {
	display: none;
}
table#positions .number {
	text-align: right;
}
table#total {
	margin: 15px 0;
    width: 33%;
    float: right;
}
table#total td {
	font-size: 0.9em;
	padding-top: 18px;
	text-align: center;
	color: #444;
    padding: 3px 6px;
    border-top: 0;
}
table#total tr:first-child td {
    border-top: 1px solid #aaa;
}
@media screen and (max-width: 767px) {
    table#total {
        width: 100%;
        float: none;
    }
    table#total tr:first-child td {
        border-top: none;
    }
}
/*table#details {
	width: 100%;
}

#positions .image img {
	width: 150px;
}
#positions .description span {
	padding-right: 30px;
}
#positions td.taxrate, #positions td.uom {
	vertical-align: top;
}
#positions td, #details td {
}
#positions dt, #details dt {
	margin: 0;
	width: 100%;
	float: none;
}
#positions dd, #details dd {
	min-width: 100%;
	margin: 0;
	float: none;
}*/
form {
	margin-bottom: 15px;
}
form dt {
	width: 25%;
	display: inline-block;
    vertical-align: top;
	margin: 5px 0;
}
form dd {
	width: 70%;
	margin-left: 0;
	margin-right: 2px;
	display: inline-block;
}
form#process dd {
	width: 100%;
	display: block;
}
form dd input[type="text"] {
	max-width: 100%;
	padding: 5px 10px;
}
form dd select {
	padding: 6px 5px;
}
form dt label,
form dd input,
form dd select,
form dd option {
	font-size: 0.9em;
    width: 100%;
    display: block;
}
form dd textarea {
	font-size: 0.9em;
    width: 95%;
    display: block;
}
form dt#id-label,
form dd#id-element {
    display: none;
}
form#contact dt#id-label,
form#contact dd#id-element {
    display: inline-block;
}
form dt#info-label,
form dt#header-label,
form dt#footer-label,
form dt#textblock-label,
form dt#description-label,
form dt#contactinfo-label,
form dt#customerinfo-label {
	width: 100%;
}
form dd#info-element,
form dd#header-element,
form dd#footer-element,
form dd#textblock-element,
form dd#description-element,
form dd#contactinfo-element,
form dd#customerinfo-element {
	width: 100%;
}
form .multiform {
	width: 70%;
    display: inline-block;
}
form .multiform dd {
	width: 30%;
}
form .multiform dd:first-child {
	width: 45%;
}
#tabPositions form {
    margin: 0;
    border: none;
    background: none;
}
#tabPositions form tbody {
	border-top: solid 1px #bcbcbc;
}
@media screen and (max-width: 767px) {
    ul.tabs li a {
	    font-size: 0.9em;
	    padding: 5px 5px;
    }
}
div.info {
    margin: -8px 6px 8px;
}

/* style view */
.view dt {
	width: 175px;
	display: block;
	font-weight: bold;
	float: left;
	clear: left;
	margin: 5px 0;
}
.view dd {
	margin-left: 0;
	float: left;
	max-width: 350px;
	margin: 5px 0;
}
.clr {
	clear:left;
}
ul.errors {
	max-width:450px;
}
.notes pre {
	display: block;
	background-color: #fffaaa;
	margin: 10px 5px 10px 0;
	padding: 5px;
    min-height: 25px;
}
.notes textarea {
	margin: 10px 5px 10px 0;
}
textarea#notes {
    font-family: Menlo, Consolas, monospace;
}
span.completed {
	color: green;
	font-weight: bold;
}
span.uncomplete {
	color: red;
	font-weight: bold;
}

/* Messages */
#messages {
	background: url("../images/warning.png") no-repeat scroll 12px center #FFF5CC;
	border: 1px solid #F2DD8C;
	margin: 5px 6px 15px;
	padding: 10px 35px;
}
#messages ul {
    padding-left: 0;
}
#messages li {
    font-size: 0.9rem;
}

/* Editable */
.editableContainer {
	display: inline-block;
	height: 100%;
}
.editableContainer textarea {
	height: 100%!important;
}
.editable {
	display: inline-block;
	min-width: 30px;
	cursor: pointer;
}
pre.editable,
span.editable {
	color: #069;
	border-bottom: 1px dashed #069;
}
@media screen and (max-width: 767px) {
    .editableContainer {
	    max-width: 60%;
    }
}

/* Addresses */
#addresses table {
	float: left;
	margin-top: 25px;
	margin-right: 25px;
}

/* Loading */
#loading {
	display: none;
}
#loading #opacity {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background: #000;
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;  
	-khtml-opacity: 0.2;
	opacity: 0.2;
	z-index: 998;
}
#loading #img {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: url('../images/ajax-loader.gif') no-repeat 50% 50% transparent;
	opacity: 1;
	z-index: 999;
}
#daterange #sub {
	position: absolute;
	display: none;
	padding: 10px;
	background: #fafafa;
	border: 1px solid #ccc;
	margin-left: 2px;
	z-index: 999;
}
#daterange li:hover {
	cursor: pointer;
	background-color: #F2DD8C;
}

/* Modal window */
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
#popup{
}
.popup_block{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 10px;
	border: 10px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 50%;
	z-index: 99999;
	width: 1000px;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#popup .close {
	height: 48px;
	width: 48px;
	background: url('../images/close-modal-window.png') no-repeat 0 0 transparent;
	float: right;
	margin: -36px -36px -30px 0;
}
@media screen and (max-width: 1279px) {
    .popup_block{
        width: 100%;
        padding: 0;
        left: 0;
        border: 0;
	    border-radius: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin-left: 0 !important;
    }
    #popup .close {
	    margin: 0;
        position: absolute;
        right: 0;
    }
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
iframe {
	border: none;
}
.editpositionsseparately dt {
	width: auto;
	padding: 2px 5px;
	font-weight: bold;
	float: left;
}
.editpositionsseparately dd {
	float: left;
}
#userinfo {
    font-size: 0.8rem;
	text-align: right;
    padding: 10px 0;
}
.toolbar {
	text-align: right;
    margin-top: 10px;
}
.edit .toolbar,
.view .toolbar {
	right: 15%;
}
.popup .toolbar {
	right: 10px;
}
.index .toolbar,
.select .toolbar {
}
.upload .toolbar {
	display: none;
}
.toolbar.top {
	background-color: #fff;
	width: 100%;
	top: 0;
	padding-bottom: 5px;
	position: fixed;
	margin-top: 0;
	text-align: right;
	z-index: 99;
}
.toolbar.positions {
	text-align: left;
	margin: 5px;
	position: relative;
	right: auto;
}
.toolbar div {
	display:inline-block;
}
.toolbar #status img {
	vertical-align:middle;
}
.toolbar #status #success, .toolbar #status #warning {
	background: #eee;
	border: 1px solid #ccc;
	margin-right: 8px;
	padding: 4px;
}
.toolbar #status #success {
	display:none;
}
.toolbar #status #warning {
	display:none;
}
.toolbar input,
.toolbar select {
    font-size: 0.8rem;
    padding: 3px 3px 3px;
}
#filter tbody {
	border: 0;
}
#filter td {
	vertical-align: top;
}
#filter td.space {
	padding-right: 50px;
}
#filter h4 {
	margin: 10px 0 2px;
	padding: 0;
}
div#filter {
	position: absolute;
	display: none;
	padding: 0 10px 10px;
	background: #fafafa;
	border: 1px solid #ccc;
	margin-left: 2px;
	text-align: left;
	right: 0;
	z-index: 9999;
}
div#filter div {
	display: block;
}
#filter .all,
#filter .none,
#filter .only {
	cursor: pointer;
	text-decoration: underline;
	color: #069;
}
#filter input {
	margin: 5px 3px 0 0;
}
#filter form {
	margin-top: 15px;
	padding: 0;
}
#ordering {
	display: inline-block;
}
#ordering span {
	cursor: pointer;
	color: #006699;
}
#filter td#daterange {
	padding-right: 30px;
}
#filter td.daterange {
	width: 240px;
}
#filter td.daterange .datepicker-hide {
	display: none;
}
#activefilters {
	padding: 5px 12px;
	background: #fafafa;
	border: 1px solid #ccc;
	margin: 0 6px 8px 8px;
}
#activefilters span {
    font-size: 0.8rem;
	display: inline-block;
}
#activefilters ul {
	display: inline-block;
    padding: 0;
    margin: 5px;
}
#activefilters li {
    font-size: 0.8rem;
	display: inline-block;
}
.draft {
	color: #ff0000;
}

.saved {
	color: #00ff00;
}

.level0 {
	
}
.level1 a {
	padding-left:20px;
	background: transparent url('../images/join.gif') no-repeat left center;
}
.level2 a {
	margin-left:10px;
	padding-left:20px;
	background: transparent url('../images/join.gif') no-repeat left center;
}
.level3 a {
	margin-left:20px;
	padding-left:20px;
	background: transparent url('../images/join.gif') no-repeat left center;
}

/* Tabs */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 35px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
.popup ul.tabs {
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
    /*max-width: 30%;*/
	height: 34px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1em;
	padding: 5px 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
@media screen and (max-width: 767px) {
    ul.tabs li a {
	    font-size: 0.9em;
	    padding: 5px 5px;
    }
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	background: #fff;
	margin-bottom: 10px;
	width: 100%;
}
.popup .tab_container {
	width: 100%;
}
.tab_container .tab_content {
	display:none;
    min-height: 300px;
}
.tab_container .tab_content.active {
	display:block;
}
.tab_container .tab_content form {
	padding: 0;
}
#tabFiles {
    padding: 10px;
}
#tabImages iframe {
    margin-top: 8px;
}
#files h3 {
	padding-left:30px;
}

table#settings {
	width: 100%;
}
#settings input {
	display:none;
}


/*CSS for Simple Tree Menu*/
#categories a {
font-size: 0.9rem;
}

ul.treeview{
padding-left: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
font-size: 0.9rem;
background: transparent url('../images/list.png') no-repeat left center;
list-style-type: none;
padding-left: 20px;
margin-bottom: 3px;
}

.treeview li.submenu, .treeview li.closed{ /* Style for LI that contains sub lists (other ULs). */
background: white url(../images/closed.gif) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}

.treeview li.open{ /* Style for LI that contains sub lists (other ULs). */
background: white url(../images/open.gif) no-repeat left 1px;
}

.treeview a.active{ 
font-weight: bold;
}

.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}

/* Processes */
.deliverydate {
font-weight: bold;
}
.deliveryItem, .stockItem {
	background-color: #ececec!important;
}
.deliveryItem td, .stockItem td {
    border-top: none;
}
.positions .deliveryIsWaiting,
.positions .supplierNotOrdered,
.positions .waitingForPayment,
#positions .deliveryIsWaiting,
#positions .supplierNotOrdered,
#positions .waitingForPayment,
.deliveryIsWaiting .deliverystatus span,
.supplierNotOrdered .supplierorderstatus span,
.waitingForPayment .paymentstatus span {
	padding: 3px;
	margin-right: 5px;
	margin-top: 3px;
	background-color: #ffabab!important;
}
.positions .partialDelivered,
.positions .supplierOrdered,
.positions .prepaymentReceived,
#positions .partialDelivered,
#positions .supplierOrdered,
#positions .prepaymentReceived,
.partialDelivered .deliverystatus span,
.supplierOrdered .supplierorderstatus span,
.prepaymentReceived .paymentstatus span {
	padding: 3px;
	margin-right: 5px;
	margin-top: 3px;
	background-color: #fffaaa!important;
}
.positions .deliveryCompleted,
.positions .supplierPayed,
.positions .paymentCompleted,
#positions .deliveryCompleted,
#positions .supplierPayed,
#positions .paymentCompleted,
.deliveryCompleted .deliverystatus span,
.supplierPayed .supplierorderstatus span,
.paymentCompleted .paymentstatus span {
	padding: 3px;
	margin-right: 5px;
	margin-top: 3px;
	background-color: #ccffcc!important;
}
.disabled {
	display: none;
}
