/configs/database.ini
/configs/magento.ini
/cache/*
!/cache/.gitkeep
/files/*/*
!/files/*/.gitkeep
/media/*/*
!/media/*/.gitkeep
/logs/*
!/logs/.gitkeep
/session/*
!/session/.gitkeep
/templates/*
!/templates/.gitkeep
